name: Update and Build Formulae
on:
  push:
    branches:
      - master
  schedule:
    - cron:  '0 0 * * *'
  repository_dispatch:
  workflow_dispatch:
  pull_request:
env:
  HOMEBREW_DEVELOPER: 1
  HOMEBREW_GITHUB_ACTIONS: 1
  HOMEBREW_NO_AUTO_UPDATE: 1
jobs:
  tap_syntax:
    if: "!contains(github.event.head_commit.message, 'skip-build')"
    runs-on: ubuntu-latest
    env:
      HOMEBREW_FORCE_HOMEBREW_ON_LINUX: 1
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Cache Bundler RubyGems
        uses: actions/cache@v1
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - name: Install Bundler RubyGems
        run: brew install-bundler-gems

      - run: brew test-bot --only-tap-syntax

  create-pr:
    if: github.event_name != 'pull_request' && !contains(github.event.head_commit.message, 'skip-build')
    needs: tap_syntax
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - 'php'
          - 'php@5.6'
          - 'php@7.0'
          - 'php@7.1'
          - 'php@7.2'
          - 'php@7.3'
          - 'php@7.4'
          - 'php@8.1'
    steps:
      - uses: actions/checkout@v2

      - name: Patch formula
        env:
          GITHUB_MESSAGE: ${{ github.event.head_commit.message }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_PACKAGES_URL: https://ghcr.io/v2/${{ github.repository_owner }}/php
          PHP_VERSION: ${{ matrix.php }}
        run: bash ./.github/scripts/edit.sh

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
          commit-message: Update ${{ matrix.php }}
          committer: BrewTestBot <1589480+BrewTestBot@users.noreply.github.com>
          author: BrewTestBot <1589480+BrewTestBot@users.noreply.github.com>
          signoff: false
          base: master
          branch: update-${{ matrix.php }}
          branch-suffix: short-commit-hash
          delete-branch: true
          title: 'Update ${{ matrix.php }}'
          body: |
            Build ${{ matrix.php }}
          labels: ${{ matrix.php }},automated-pr
          assignees: ${{ github.repository_owner }}
          team-reviewers: |
            owners
            maintainers
          draft: false

      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"

  tests:
    needs: tap_syntax
    if: github.event_name == 'pull_request' && !contains(github.event.head_commit.message, 'skip-build')
    strategy:
      matrix:
        os: ['macos-11.0', 'macos-10.15']
        arm: ['0']
        include:
          - os: 'macos-11.0-m1'
            arm: '1'
      fail-fast: false
    runs-on: ${{ matrix.os }}
    timeout-minutes: 300
    env:
      PATH: '/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin'
      HOMEBREW_DEVELOPER: 1
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      HOMEBREW_CHANGE_ARCH_TO_ARM: ${{ matrix.arm }}
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Xcode
        run: |
          if [ "${{ matrix.os }}" = "macos-10.15" ]; then
            sudo xcode-select -s /Applications/Xcode_11.7.app || exit 1
          else
            sudo xcode-select -s /Applications/Xcode_12.4.app || exit 1
          fi

      - run: brew test-bot --only-cleanup-before

      - run: brew test-bot --only-setup

      - name: Run brew test-bot --only-formulae
        run: |
          mkdir bottles
          cd bottles
          brew test-bot --only-formulae --root-url="https://ghcr.io/v2/${{ github.repository_owner }}/php"

      - name: Output brew test-bot --only-formulae failures
        if: always()
        run: |
          cat bottles/steps_output.txt
          rm bottles/steps_output.txt

      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: logs (${{ matrix.os }})
          path: bottles/logs

      - name: Delete logs and home
        if: always()
        run: |
          rm -rvf bottles/logs
          rm -rvf bottles/home

      - name: Count bottles
        id: bottles
        if: always()
        run: |
          cd bottles
          LC_ALL=C find . -type f -name '*.json' -exec sed -i '' s~homebrew/bottles-php~${{ github.repository_owner }}/php~ {} +
          LC_ALL=C find . -type f -name '*.json' -exec sed -i '' s~bottles-php~php~ {} +
          LC_ALL=C find . -type f -name '*.json' -exec sed -i '' s~bottles~php~ {} +
          count=$(ls *.json | wc -l | xargs echo -n)
          echo "$count bottles"
          echo "::set-output name=count::$count"

      - name: Upload bottles
        if: always() && steps.bottles.outputs.count > 0
        uses: actions/upload-artifact@main
        with:
          name: bottles
          path: bottles

      - run: brew test-bot --only-cleanup-after
        if: always()

      - name: Post Cleanup
        if: always()
        run: rm -rvf bottles

  label:
    needs: tests
    if: github.event_name == 'pull_request' && !contains(github.event.head_commit.message, 'skip-build') && github.event.pull_request.user.login == github.repository_owner
    runs-on: ubuntu-latest
    steps:
      - name: "Add Label"
        run: gh pr edit "$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }')" --add-label "build-complete"
